@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-background: #eb662b;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 100%;

  font: 1rem "Inter", serif;
}
