{% load static %}
<div class="flex flex-col items-center my-26">
  <div>
    <h2 class="text-2xl font-bold mb-10">
      O melhor <span class="text-gray-400">do Hotel Trânsilvania</span>
    </h2>
    <ul class="flex items-center gap-5 text-left">
      <li
        class="border rounded-lg border-gray-300 flex flex-col items-center p-3 h-[350px]"
      >
        <div class="space-y-2">
          <div
            class="bg-cover bg-center rounded-lg w-[230px] h-[180px] bg-[url({% static 'images/home/hotel-details/pool.png' %})]"
            aria-label="Área de piscina do Hotel Trânsilvania com espreguiçadeiras e bar"
          ></div>
          <div class="text-sm max-w-[230px] space-y-2">
            <p class="text-gray-500">Área de Piscina</p>
            <p>
              Refresque-se em nossa piscina com espreguiçadeiras e serviço de
              bar. O lugar perfeito para relaxar.
            </p>
          </div>
        </div>
      </li>
      <li
        class="border rounded-lg border-gray-300 flex flex-col items-center p-3 h-[350px]"
      >
        <div class="space-y-2">
          <div
            class="bg-cover bg-center rounded-lg w-[230px] h-[180px] bg-[url({% static 'images/home/hotel-details/academy.png' %})]"
            aria-label="Academia do Hotel Trânsilvania com equipamentos modernos"
          ></div>
          <div class="text-sm max-w-[230px] space-y-2">
            <p class="text-gray-500">Academia</p>
            <p>
              Equipamentos modernos e ambiente climatizado para você manter a
              rotina de treinos.
            </p>
          </div>
        </div>
      </li>
      <li
        class="border rounded-lg border-gray-300 flex flex-col items-center p-3 h-[350px]"
      >
        <div class="space-y-2">
          <div
            class="bg-cover bg-center rounded-lg w-[230px] h-[180px] bg-[url({% static 'images/home/hotel-details/breakfast.png' %})]"
            aria-label="Café da manhã do Hotel Trânsilvania com diversas opções de alimentos"
          ></div>
          <div class="text-sm max-w-[230px] space-y-2">
            <p class="text-gray-500">Café da Manhã</p>
            <p>
              Comece o dia da melhor forma com nosso café da manhã completo e
              variado! Uma experiência irresistível para todos os gostos.
            </p>
          </div>
        </div>
      </li>
      <li
        class="border rounded-lg border-gray-300 flex flex-col items-center p-3 h-[350px]"
      >
        <div class="space-y-2">
          <div
            class="bg-cover bg-center rounded-lg w-[230px] h-[180px] bg-[url({% static 'images/home/hotel-details/playground.png' %})]"
            aria-label="Espaço kids do Hotel Trânsilvania com brinquedos e área recreativa para crianças"
          ></div>
          <div class="text-sm max-w-[230px] space-y-2">
            <p class="text-gray-500">Espaço Kids</p>
            <p>
              Diversão garantida para as crianças em um ambiente seguro e
              interativo, enquanto os pais relaxam.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
