{% load static %}
<div class="px-24 flex justify-between items-start mb-24">
  <div class="w-[65%]">
    <h2 class="text-2xl font-bold mb-4">Descrição</h2>
    <p class="text-sm mb-4 leading-relaxed">
      Desfrute do máximo conforto e sofisticação na Suíte Luxo, um ambiente
      projetado para proporcionar uma experiência inesquecível. Com uma
      decoração elegante e moderna, a suíte oferece uma vista panorâmica
      deslumbrante do oceano, perfeita para momentos de relaxamento e
      contemplação.
      <br />
      O espaço conta com uma cama king-size de alto padrão, enxoval de algodão
      egípcio e um menu de travesseiros para garantir noites de descanso
      absoluto. A ampla varanda privativa convida você a apreciar o nascer do
      sol enquanto saboreia um café especial.
    </p>
  </div>

  <aside>{% include 'components/suite-luxo/reservar.html' %}</aside>
</div>
