{% load static %}
<div
  class="border border-gray-300 rounded-lg px-5 py-7 flex flex-col gap-5 w-70"
>
  <h3>Suite Luxo</h3>
  <div class="flex flex-col gap-4 border border-gray-300 rounded-lg px-2 py-4">
    <!-- <p class="font-semibold">Reservas</p>
    <span class="flex justify-between items-center">
      <p>Adultos</p>
      <p>2</p>
    </span> -->
    <p class="font-semibold">Data</p>
    <p class="text-xs font-light">04 de fevereiro ~ 08 de fevereiro</p>
  </div>
  <hr class="border-gray-300" />
  <div class="space-y-2">
    <p class="font-semibold">Reservas</p>
    <span class="flex justify-between items-center text-sm">
      <p>Adultos (18+)</p>
      <p>2</p>
    </span>
  </div>
  <hr class="border-gray-300" />
  <div class="flex justify-between items-center mt-2">
    <p class="font-semibold text-lg">Total:</p>
    <p>R$ 530,00</p>
  </div>
  <button
    class="text-white p-3 rounded-full cursor-pointer hover:opacity-80 transition-opacity duration-300"
    style="background-color: var(--color-background)"
  >
    Reservar
  </button>
</div>
