{% load static %}
<div
  class="border border-gray-300 rounded-lg px-6 py-8 flex flex-col w-76 shadow-lg"
>
  <h3>Suíte Luxo</h3>
  <div class="space-y-4 border border-gray-300 rounded-lg px-2 py-4 my-7">
    <p class="font-semibold">Data</p>
    <p class="text-xs font-light">04 de fevereiro ~ 08 de fevereiro</p>
  </div>
  <hr class="border-gray-300" />
  <div class="space-y-2 my-5">
    <p class="font-semibold">Reservas</p>
    <span class="flex justify-between items-center text-sm">
      <p>Adultos (18+)</p>
      <p>2</p>
    </span>
  </div>
  <hr class="border-gray-300" />
  <div class="flex justify-between items-center font-semibold my-7">
    <p>Total:</p>
    <p>R$ 530,00</p>
  </div>
  <div class="flex justify-center">
<a href="{% url 'reserva' %}"
class="w-52 text-center text-white p-3 rounded-full cursor-pointer hover:opacity-80 transition-opacity duration-300 "
style="background-color: var(--color-background)">
  Reservar
</a>
</div>
</div>
