{% load static %}
<div class="border border-gray-300 rounded-lg px-6 py-8 flex flex-col w-76 shadow-lg">
  <h3 class="text-lg font-semibold text-center mb-4">Suíte Luxo</h3>

  <div class="py-4">
    <label for="data_ida" class="block text-sm font-medium text-gray-700 mb-1">Data de ida</label>
    <input type="date" id="data_ida" name="data_ida" onchange="calcularTotal()" class="w-full border border-gray-300 rounded-md px-3 py-2" required>
  </div>

  <div class="pb-4">
    <label for="data_volta" class="block text-sm font-medium text-gray-700 mb-1">Data de volta</label>
    <input type="date" id="data_volta" name="data_volta" onchange="calcularTotal()" class="w-full border border-gray-300 rounded-md px-3 py-2" required>
  </div>

  <!-- Resumo do período -->
  <p id="resumoDatas" class="text-sm text-gray-600 mb-4"></p>

  <hr class="border-gray-300 mb-4" />

  <div class="space-y-2 mb-5">
    <p class="font-semibold">Reservas</p>
    <span class="flex justify-between items-center text-sm">
      <p>Adultos (18+)</p>
      <p>2</p>
    </span>
  </div>

  <hr class="border-gray-300 mb-5" />

  <div class="flex justify-between items-center font-semibold mb-6">
    <p>Total:</p>
    <p id="total_reserva" class="text-lg font-semibold text-emerald-700">R$ 0,00</p>
  </div>
  
<button type="button" onclick="redirecionarParaReserva()" class="mt-4 bg-orange-500 text-white py-2 px-4 rounded-md cursor-pointer">
    Reservar
</button>

</div>

<script type="module">
  function redirecionarParaReserva() {
    const dataIda = document.getElementById('data_ida').value;
    const dataVolta = document.getElementById('data_volta').value;
    if (dataIda && dataVolta) {
        window.location.href = `/reserva/?data_ida=${dataIda}&data_volta=${dataVolta}`;
    } else {
        alert('Por favor, selecione as datas de ida e volta.');
    }
    }
  
  window.redirecionarParaReserva = redirecionarParaReserva;

  //Calcular Total das Reservas
  import { calcularTotal } from "{% static 'js/calculoTotalReserva.js' %}";
  document.getElementById('data_ida').addEventListener('change', calcularTotal);
  document.getElementById('data_volta').addEventListener('change', calcularTotal);

</script>