{% load static %}
<div class="px-24 mb-24 mt-12">
  <h2 class="text-3xl font-bold mb-10">Suíte Luxo</h2>
  <div class="flex justify-between items-center mb-3">
    <div class="flex gap-2">
      <p
        class="text-sm mb-2 border border-orange-500 rounded-full px-2 py-1 w-fit text-orange-500"
      >
        Bestseller
      </p>

      <p
        class="text-sm mb-2 border border-gray-300 rounded-full px-2 py-1 w-fit text-gray-700"
      >
        Cancelamento Gratuito
      </p>
      <p
        class="text-sm mb-2 border border-gray-300 rounded-full px-2 py-1 w-fit text-gray-700"
      >
        1-2 pessoas
      </p>
    </div>
    <div class="flex gap-5">
      <span class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M7.75 3.5C5.127 3.5 3 5.76 3 8.547C3 14.125 12 20.5 12 20.5s9-6.375 9-11.953C21 5.094 18.873 3.5 16.25 3.5c-1.86 0-3.47 1.136-4.25 2.79c-.78-1.654-2.39-2.79-4.25-2.79"
          />
        </svg>
      </span>
      <span class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M9.5 12a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m5-5.5l-5 3.5m5 7.5l-5-3.5m10 4.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m0-13a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0"
          />
        </svg>
      </span>
    </div>
  </div>

  <img
    src="{% static 'images/suite-luxo/image (3).png' %}"
    class="w-full"
    alt="Suíte Luxo"
  />
  <ul class="flex gap-5 mt-4 text-sm">
    <li class="space-y-1">
      <p>Duração</p>
      <p class="text-gray-500">3 dias</p>
    </li>
    <li class="space-y-1">
      <p>Café da Manhã</p>
      <p class="text-gray-500">Incluso</p>
    </li>
    <li class="space-y-1">
      <p>Beira-Mar</p>
      <p class="text-gray-500">Sim</p>
    </li>
  </ul>
</div>
