{% load static %}
<header style="background-color: var(--color-background);" class="text-white">
    <nav class=" navbar shadow-sm flex justify-between pr-10 pl-10 pt-4 pb-4">
        <div class="flex items-center gap-4">
            <img src="{% static 'images/logo-hotel.png' %}" alt="Logo" class="w-[70px] h-[auto]">
            <h1 class="font-extralight text-xl">Hotel Trânsilvania</h1>
        </div>


        <ul class="flex items-center gap-2">
            <li><a href="" class="font-extralight hover:underline font-bold">Registrar-se</a></li>
            <li> <button class="rounded-3xl btn btn-outline">Entrar</button></li>
        </ul>



    </nav>
</header>