{% load static %}
<footer class="text-white" style="background-color: var(--color-background)">
  <div class="p-10">
    <div class="flex items-center gap-4 border-solid pb-6">
      <img
        src="{% static 'images/brand/logo-hotel.png' %}"
        alt="Logo"
        class="w-[130px] h-[auto]"
      />
      <h1 class="font-extralight text-5xl">Hotel Trânsilvania</h1>
    </div>

    <div class="grid grid-cols-2 border-t-2">
      <div class="mt-20">
        <h6 class="footer-title text-xl">Contatos</h6>
        <ul>
          <li class="flex items-center gap-2 mb-4 cursor-pointer">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M14.95 3.684L8.637 8.912a1 1 0 0 1-1.276 0l-6.31-5.228A1 1 0 0 0 1 4v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-.05-.316M2 2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m-.21 1l5.576 4.603a1 1 0 0 0 1.27.003L14.268 3z"
                />
              </svg>
            </div>
            <a href="mailto:webmaster@example.com" class="text-white"
              >hoteltransilvania@gmail.com</a
            >
          </li>
          <li class="flex items-center gap-2 mb-4">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#fff"
                  d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"
                />
              </svg>
            </div>
            <a href="“tel:555-666-7777”">(11) 3070-6070</a>
          </li>
          <li class="flex items-center gap-2">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047c.42 2.783 1.66 7.83 5.283 11.453c3.805 3.805 9.286 5.456 12.302 6.113c1.165.253 2.198-.655 2.198-1.848v-3.584z"
                />
              </svg>
            </div>
            <a href="“tel:555-666-7777”">(11) 3070-6070</a>
          </li>
        </ul>

        <div class="mt-20">
          <h6 class="footer-title text-xl">Endereço</h6>
          <ul>
            <li class="mb-4">
              <p class="font-extralight mb-2">
                Rua Algarve, 425, Cabreuva, SP, 13318000
              </p>
              <a
                href="https://maps.app.goo.gl/otvDuuRPHg2NCMcp6"
                class="underline text-white font-bold"
                >Confira no mapa
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-20">
        <h6 class="footer-title text-xl">Sobre Nós</h6>
        <ul>
          <li class="mb-4">
            <a href="{}" class="text-white hover:underline">Sobre Nós </a>
          </li>

          <li class="mb-10">
            <a href="{}" class="text-white hover:underline"
              >Perguntas Frequentes
            </a>
          </li>

          <li class="mb-10">
            <p class="font-extralight">© Copyright Viatours 2025</p>
          </li>
        </ul>

        <div>
          <img
            src="{% static 'images/layout/pagamento.webp' %}"
            alt=""
            width="200px"
          />
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <nav>
        <h6 class="footer-title">Endereço</h6>
        <ul>
            <li class="flex items-center gap-2">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                        <path fill="currentColor" fill-rule="evenodd" d="M14.95 3.684L8.637 8.912a1 1 0 0 1-1.276 0l-6.31-5.228A1 1 0 0 0 1 4v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-.05-.316M2 2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m-.21 1l5.576 4.603a1 1 0 0 0 1.27.003L14.268 3z" />
                    </svg>
                </div>
                <a href="mailto:webmaster@example.com" class="text-white">hoteltransilvania@gmail.com</a>
            </div>
    </li>
</ul>
</nav>
<nav>
<h6 class="footer-title">Informações</h6>
<ul>
    <li class="flex items-center gap-1">
        <p>Sobre nos</p>
    </li>
    <li class="flex items-center gap-1">
        <p>Perguntas frequentes</p>
    </li>
</ul>
<span>© Copyright Viatours 2025</span>
</nav> -->
