{% extends 'base.html' %} {% load static %} {% block content %}

<span
  class="flex items-start text-gray-500 gap-2 border border-gray-300 mt-5 rounded-lg mx-24 p-3"
  >{% include 'components/breadcrumb/breadcrumb-suite-luxo.html' %}</span
>
<section>{% include 'components/suite-luxo/suite-info.html' %}</section>

<section class="px-24 flex justify-between items-start mb-24">
  {% include 'components/suite-luxo/description.html' %}
  <aside>{% include 'components/suite-luxo/reservar.html' %}</aside>
</section>
<section>{% include 'components/suite-luxo/avaliations.html' %}</section>

{% endblock %}
